<% include header %>

<h1 class="title"><img src="/images/briefcase.png" alt="Briefcase"> <%= title %></h1>
<h2 class="subtitle">This is what BUSYNESS knows:</h2>
<div class="row"><%= error %></div>

<% include footer %>