	<footer>
		<div class="row about">
			<p>This project is humbly brought to you using the only acceptable use of the term “Brogrammers”, literal brothers <a href="http://twitter.com/zachleat">@zachleat</a> and <a href="http://twitter.com/danleatherman">@danleatherman</a>.</p>
		</div>
	</footer>
</body>
</html>