<% include header %>

<div class="row">
	<a href="<%= login %>" class="signin">
		<h1 class="title"><img src="/images/briefcase.png" alt="Briefcase"> <%= title %></h1>
		<h2>Use Twitter more efficiently.</h2>
		<h2>Find the noise in your stream.</h2>

		<p><img src="/images/sign-in-with-twitter.png" alt="Sign In With Twitter"></p>
		<em>Grant temporary read-only access to your list of friends/followers.</em>
	</a>
	<div class="subsignin">
		<ul>
			<li>Are you <strong>following too many users?</strong> Find your noisiest friends.</li>
			<li>Are you <strong>thinking about following someone new?</strong> Before you do, investigate how many tweets they’ll add to your stream.</li>
		</ul>
		<h2>BUSYNESS makes Twitter more sustainable.</h2>
		<p>
			<img src="/images/screenshot-zachleat-compressive.jpg" alt="Screenshot of zachleat’s BUSYNESS" class="screenshot">
			<img src="/images/screenshot-danleatherman-compressive.jpg" alt="Screenshot of danleatherman’s BUSYNESS" class="screenshot">
		</p>
	</div>
</div>

<% include footer %>