<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css'>
	</head>
	<body>
		<h1><%= title %></h1>
		<p><a href="<%= login %>">Login with Twitter</a></p>
	</body>
</html>