<% include header %>

<div class="row">
	<a href="<%= login %>" class="signin">
		<h1 class="title"><img src="/images/briefcase.png" alt="Briefcase"> <%= title %></h1>
		<h2>Make your Twitter stream quieter.</h2>
		<h2>Find your noisiest friends.</h2>

		<p><img src="/images/sign-in-with-twitter.png" alt="Sign In With Twitter"></p>
		<em>Grant temporary read-only access to your list of friends/followers.</em>
		<p class="screenshots">
			<img src="/images/screenshot-zachleat-compressive.jpg" alt="Screenshot of zachleat’s BUSYNESS" class="screenshot">
			<img src="/images/screenshot-danleatherman-compressive.jpg" alt="Screenshot of danleatherman’s BUSYNESS" class="screenshot">
		</p>
	</a>
	<div class="subsignin">
		<ul>
			<li>Are you <strong>following too many users?</strong> Find your noisiest friends.</li>
			<li>Are you <strong>thinking about following someone new?</strong> Before you do, investigate how many tweets they’ll add to your stream.</li>
		</ul>
		<h2>BUSYNESS makes Twitter more sustainable.</h2>
		<div class="fluid-width-video-wrapper"><iframe width="420" height="315" src="http://www.youtube.com/embed/h4cnyYb5XBc" frameborder="0" allowfullscreen></iframe></div>
		<p>For more information on why BUSYNESS was created, <a href="http://www.zachleat.com/web/busyness/">read the blog post.</a></p>
	</div>
</div>

<% include footer %>