<% include header %>

<div class="row">
	<a href="<%= login %>" class="signin">
		<h1 class="title"><img src="/images/briefcase.png" alt="Briefcase"> <%= title %></h1>
		<h2>Use Twitter more efficiently.</h2>
		<h2>Find the noise in your stream.</h2>

		<p><img src="/images/sign-in-with-twitter.png" alt="Sign In With Twitter"></p>
	</a>
</div>

<% include footer %>