@import 'compass/css3';
@import 'compass/utilities/general/clearfix';
$stack: 'news-gothic-std', 'Helvetica Neue', sans-serif;
$primary: #4099FF;
$a: #444;
$ahov: #222;

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: User Info Styles
:: Table Styles

*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
* {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
	background: #fff;
	font: .875em/1.2 $stack;
	font-weight: 400;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6,th {
	font-weight: 700;
}

h1 {
	margin: 0;
}

strong {
	font-weight: 700;
}

a {
	color: $a;

	&:hover,
	&:focus {
		color: $ahov;
	}
}

:target {
	background-color: #ffc;
}

.row {
	padding: 1em;
}

/* -----------------------------------------
   Header Styles
----------------------------------------- */

.title {
	text-transform: uppercase;
}
.title,
.subtitle {
	text-align: center;
}
.title img {
	vertical-align: middle;
}

/* -----------------------------------------
   Footer Styles
----------------------------------------- */

.about {
	text-align: center;
	margin: 0 auto;
	max-width: 27em;
	font-size: 1.142857143em;
}
.about p {
	margin-bottom: .3em;
}
.about .author {
	white-space: nowrap;
}

/* -----------------------------------------
   Login Page Styles
----------------------------------------- */

.signin {
	margin: 1em 0;
	text-align: center;
	display: block;
	text-decoration: none;
}
.signin p {
	margin-top: 2em;
}
.subsignin {
	max-width: 35em;
	margin: 5em auto 0;
}
.subsignin h2 {
	text-align: center;
}

/* -----------------------------------------
   User Info Styles
----------------------------------------- */

.stats {
	font-size: 1.5em;
}
.user-info.user-info-white {
	color: #fff;
}
.user-info.user-info-black {
	color: #000;
}
.user-info-white .row {
	background-color: rgba(0, 0, 0, .4);
}
.user-info-black .row {
	background-color: rgba(255, 255, 255, .4);
}

.headline-stats {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	margin-bottom: 2em;
}
.headline-stats li {
	text-align: center;
	padding: 1em 0;
}
.headline-stats li:first-child {
	border-bottom: 1px solid currentColor;
}
.headline-stats p {
	margin: 0;
	font-style: italic;
}
.headline-stats label {
	font-size: 1em;
	display: block;
	text-transform: uppercase;
}
.headline-stats .value {
	font-size: 4em;
	font-weight: bold;
	display: block;
}
.headline-stats + p {
	margin-bottom: 0;
}
@media (min-width: 36em) {
	.headline-stats li {
		width: 50%;
		float: left;
		@include box-sizing(border-box);
	}
	.headline-stats li:first-child {
		border-bottom: none;
	}
}

/* -----------------------------------------
   User List Styles
----------------------------------------- */

.loudness {
	color: #fff;
	@include single-transition(background-color, 0.2s, ease-in);
}
tr.loudness:hover {
	color: #fff;
}

$cutoff: 40;

@for $i from 0 to $cutoff {
	$bgcolor: darken($primary, $i);

	.loudness-#{$i} {
		background-color: $bgcolor;
	}
	tr.loudness-#{$i}:hover {
		background-color: lighten($bgcolor, 3%);
	}
}

@for $i from 0 through 10 {
	$bgcolor: lighten(#000, 20-(2*$i));

	.loudness-#{$i+$cutoff} {
		background-color: $bgcolor;
	}
	tr.loudness-#{$i+$cutoff}:hover {
		background-color: lighten($bgcolor, 3%);
	}
}

img.avatar {
	border-radius: .3125em;
	display: inline;
	max-width: 4em;
	margin-right: 1em;
	vertical-align: middle;
}
img.avatar.author {
	border-radius: 50%;
	margin-right: .3em;
}
h1 img.avatar {
	border: 4px #fff solid; // to match twitters style
}
h1 a {
	text-decoration: none;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: underline;
		color: inherit;
	}
}

/* Main Stats Table showing users friends */

.screenname > a {
	white-space: nowrap;
}

table {
	width: 100%;
	border-spacing: 0;
}
th {
	font-size: 1em;
}
td {
	white-space: nowrap;

	a {
		color: inherit;
		display: block;
		&:hover,
		&:focus {
			color: inherit;
		}
	}
}
th,
td {
	padding: .5em;
	margin: 0;
	text-align: left;
}
.truncated td {
	padding: .5em;
	text-align: center;
	font-size: 2em;
	font-family: Gill Sans, sans-serif;
	font-weight: bold;
}

.secondary,
.tertiary,
th label,
td label {
	display: none;
}
.subth {
	display: block;
}

.rank {
	max-width: 5em;
}
td.rank,
td.avg {
	font-size: 2em;
	padding: .25em;
}
td.avg > label,
.avg div {
	font-size: .5em;
}
td.avg > label {
	vertical-align: middle;
	position: relative;
	top: -1px;
}
.avg div {
	font-style: italic;
}

@media (min-width: 30em) {
	.secondary {
		display: table-cell;
	}
	span.secondary {
		display: inline;
	}
}
@media (min-width: 44em) {
	th label,
	td label {
		display: inline;
	}
	.inline-labels {
		visibility: hidden;
	}
	.tertiary {
		display: table-cell;
	}
	span.tertiary {
		display: inline;
	}
	.subth {
		display: inline;
	}
}